body {
  background-color: green;
}
.container {
  padding-top: 150px;
}
.card {
  text-align: center;
  padding-top: 150px;
  margin: auto;
  height: 260px;
  width: 280px;
  position: relative;
  background-color: white;
  border-radius: 20px;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.top-suit {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 80px;
}

.bottom-suit {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 80px;
  margin-top: 300px;
  margin-left: 210px;
}

button {
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 20px;
}

form {
  text-align: center;
  margin-top: 30px;
}

#userInput {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
